<li class="table__player">
  <span class="table__player--rank">4 <span class="rank--stable"></span></span>
  <span class="table__player--name">Viktor</span>
  <span></span>
  <span class="table__player--round-points">0</span>
  <span class="table__player--total--points">0</span>
</li>
