<ul class="table__player">
  <li class="table__player--rank">1 <span class="rank--stable"></span></li>
  <li class="table__player--name">Namn</li>
  <li class="table__player--round-points">0</li>
  <li class="table__player--total--points">0</li>
</ul>
