<div class="form-container">
  <ul class="form-container__info">
    <li>Omgång</li>
    <li>Hemmalag–Bortalag</li>
    <li>Datum</li>
  </ul>
  <form name="Omgång 1" class="form__next-match" method="post" data-netlify="true">
    <p class="form__next-match--name">
      <label> Ditt namn* </label>
      <input type="text" name="name" />
    </p>
    <p class="form__next-match--result">
      <label> Tippa resultat*</label>
      <div class="result-input">
        <h4 class="team--home">Trelleborgs FF</h4>
        <input type="text" name="hemmalag" />
        <span>–</span>
        <input type="text" name="bortalag" />
        <h4 class="team--away">Bortalag</h4>
      </div>

    </p>
  </form>
</div>
