<div class="form-container">
  <ul class="round__info">
    <li>Omgång</li>
    <li>Hemmalag–Bortalag</li>
    <li>Datum</li>
  </ul>
  <form name="Next match" class="form__next-match" method="post" data-netlify="true">
    <p>
      <label> Ditt namn* <input type="text" name="name" /></label>
    </p>
    <p class="form__next-match--result">
      <label> Tippa resultat* <h2>Hemmalag</h2><input type="text" name="hemmalag" /> – <input type="text" name="bortalag" /><h2>Bortalag</h2></label>
    </p>
  </form>
</div>
