<section class="section">
  <div class="container">
    <header class="header">
      <div class="header__center-nav">
        <ul>
          <li class="header__center-nav--item">
            <%= link_to 'Matcher', '/rounds.html' %>
          </li>
          <li class="header__center-nav--item">
            <%= link_to 'Tabell', '/index.html' %>
          </li>
          <li class="header__center-nav--item">
            <%= link_to 'Tippa nästa match', '/next-match.html' %>
          </li>
        </ul>
      </div>
    </header>
  </div>
</section>
