<section class="section">
    <header>
        <ul class="header__center-nav">
            <a class="header__center-nav--item" href="/rounds.html"><li>Matcher</li></a>
            <a class="header__center-nav--item active" href="/"><li>Tabell</li></a>
            <a class="header__center-nav--item" href="/next-match.html"><li>Tippa nästa match</li></a>
        </ul>
    </header>
</section>
