<section class="round__container">
  <ul class="round__info">
    <li class="list__heading"><span>Omgång</span><span>Datum</span></li>
    <li class="round__info--fixture">
      <div class="round__info--fixture__content">
        <span class="team"><span class="team__name">Hemmalag</span><span class="team__badge">Ikon</span></span>
        <span class="score">0–0</span>
        <span class="team"><span class="team__badge">Ikon</span><span class="team__name">Bortalag</span></span>
      </div>
    </li>
  </ul>

  <ul class="round__player-list">
      <li class="round__player-list__row">
        <div class="player-list--content">
          <span class="player-name">Namn</span>
          <span class="player-score">0–0</span>
        </div>
      </li>
      <li class="round__player-list__row">
        <div class="player-list--content">
          <span class="player-name">Namn</span>
          <span class="player-score">0–0</span>
        </div>
      </li>
  </ul>
</section>
