<section class="round__container">
  <ul class="round__info">
    <li>Omgång</li>
    <ul class="round__info__result-container">
      <li>Hemmalag</li>
      <li class="round__info__result-container--result">0–0</li>
      <li>Bortalag</li>
    </ul>
    <li>Datum</li>
  </ul>
  <ul class="round__bet">
    <ul class="round__bet__item">
      <li class="roundr__bet__item--player">Namn</li>
      <li class="round__bet__item--bet">0–0</li>
    </ul>
  </ul>
</section>
