<section class="round__container">
  <ul class="round__info">
    <li class="list__heading"><span>Omgång 2</span><span>2019-04-05 kl 19.00</span></li>
    <li class="round__info--fixture">
      <div class="round__info--fixture__content">
        <span class="team"><span class="team__name">GAIS</span><span class="team__badge">Ikon</span></span>
        <span class="score">1–1</span>
        <span class="team"><span class="team__badge">Ikon</span><span class="team__name">Östers IF</span></span>
      </div>
    </li>
  </ul>

  <ul class="round__player-list">
      <li class="round__player-list__row">
        <div class="player-list--content">
          <span class="player-name">Limpan</span>
          <span class="player-score">1–2</span>
        </div>
      </li>
      <li class="round__player-list__row">
        <div class="player-list--content">
          <span class="player-name">Emil</span>
          <span class="player-score">1–2</span>
        </div>
      </li>
      <li class="round__player-list__row">
        <div class="player-list--content">
          <span class="player-name">Tobbe</span>
          <span class="player-score">1–2</span>
        </div>
      </li>
      <li class="round__player-list__row">
        <div class="player-list--content">
          <span class="player-name">Alina</span>
          <span class="player-score">2–1</span>
        </div>
      </li>
      <li class="round__player-list__row">
        <div class="player-list--content">
          <span class="player-name">Bartha</span>
          <span class="player-score">1–1</span>
        </div>
      </li>
      <li class="round__player-list__row">
        <div class="player-list--content">
          <span class="player-name">Jocke-boy</span>
          <span class="player-score">1–1</span>
        </div>
      </li>
  </ul>
</section>
