<ul class="table__titles">
  <ul class="table__titles__left">
    <li class="table__titles--item">Rank</li>
    <li class="table__titles--item">Tippare</li>
  </ul>
  <ul class="table__titles__right">
    <li class="table__titles--item">Omgång</li>
    <li class="table__titles--item">Total</li>
  </ul>
</ul>
<div class="table__player__container">
  <%= partial "models/player--name.html" %>
</div>
