$small: "only screen and (max-width: 600px)";
$medium: "only screen and (min-width: 600px)";
$large: "only screen and (min-width: 1000px)";

$color-primary: #140F32;
$color-accent: #3E3476;
$color-black: #161616;
